@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  @apply  hidden md:flex gap-6 items-center justify-between;
}

li {
  @apply text-base font-normal hover:text-[#155EEF];
}

.footer-top-container {
  @apply flex justify-between items-end;
}

.footer-top-right {
  @apply flex gap-8 items-center opacity-80;
}

p.footer-top {
  @apply flex gap-2 items-center text-base;
}

.footer-bottom {
  @apply flex justify-between items-center opacity-80;
}

.footer-bottom-left {
  @apply flex gap-4 text-lg;
}

h1.h1 {
  @apply font-semibold  text-3xl md:text-5xl text-[#155EEF] dark:text-white  ;
}
p.p {
  @apply font-normal text-base dark:text-[#cccccc] opacity-80 text-[#121926] leading-6;
}

h2.h2 {
  @apply font-semibold text-2xl md:text-4xl dark:text-[#EEF2F6] text-[#121926];
}
h3.h3 {
  @apply font-medium text-xl md:text-2xl  dark:text-[#EEF2F6] text-[#121926];
}
h4.h4,
.h4 {
  @apply font-semibold text-lg  dark:text-[#EEF2F6] text-[#121926];
}
.badge {
  @apply font-normal text-sm dark:text-[#cccccc]   text-[#121926]   px-2 py-1 border border-[#121926] dark:border-[#cccccc] rounded-full inline-block;
}
button,
.button {
  @apply text-base px-4 py-2 inline-block text-center border rounded-full text-[#EEF2F6] bg-[#121926] dark:bg-transparent hover:bg-[#EEF2F6] hover:text-[#121926] dark:hover:bg-[#EEF2F6];
}
.hero-text-container {
  @apply flex flex-col  justify-start items-center md:items-start gap-2;
}
.card {
  @apply w-full bg-white dark:bg-[#202939];
}
.card-inner {
  @apply w-full p-4;
}
section.section {
  @apply my-16 mx-4 md:mx-32 gap-2;
}
