@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
 
*{
    margin: 0;
    padding: 0;box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

.header {
    @apply flex gap-[24px] items-center justify-between;
}

li{
    @apply text-[16px] font-normal hover:text-[#764ABC]
}

.footer-top-container {
  @apply flex justify-between items-end
}

.footer-top-right{
      @apply flex gap-[32px] items-center opacity-80 
}

p.footer-top{
    @apply flex gap-[8px] items-center text-[16px]
}

.footer-bottom{
    @apply flex justify-between items-center opacity-80
}

.footer-bottom-left {
    @apply flex gap-[16px] text-[16px]
}