@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

.header {
  @apply flex gap-6 items-center justify-between;
}

li {
  @apply text-base font-normal hover:text-[#764ABC];
}

.footer-top-container {
  @apply flex justify-between items-end;
}

.footer-top-right {
  @apply flex gap-8 items-center opacity-80;
}

p.footer-top {
  @apply flex gap-2 items-center text-base;
}

.footer-bottom {
  @apply flex justify-between items-center opacity-80;
}

.footer-bottom-left {
  @apply flex gap-4 text-lg;
}

h1.h1 {
  @apply font-semibold text-5xl text-[#3E2763] dark:text-white leading-[48px];
}
p.p {
  @apply font-normal text-base dark:text-[#cccccc] opacity-80 text-[#191919] leading-6;
}

h2.h2 {
  @apply font-semibold text-4xl dark:text-[#dedede] text-[#191919];
}
h3.h3 {
  @apply font-medium text-[24px]  dark:text-[#dedede] text-[#191919];
}
h4.h4,
.h4 {
  @apply font-semibold text-[18px]  dark:text-[#dedede] text-[#191919];
}
.badge {
  @apply font-normal text-sm dark:text-[#cccccc]   text-[#191919]   px-2 py-1 border border-[#191919] dark:border-[#cccccc] rounded-full inline-block;
}
button,
.button {
  @apply text-base px-4 py-2 inline-block text-center border rounded-full text-[#d5d5d5] bg-[#191919] dark:bg-transparent hover:bg-[#d5d5d5] hover:text-[#191919] dark:hover:bg-[#d5d5d5];
}
.hero-text-container {
  @apply flex flex-col justify-start items-start gap-2;
}
.card {
  @apply w-full bg-white dark:bg-[#242424];
}
.card-inner {
  @apply w-full p-4;
}
section.section {
  @apply py-32 gap-2;
}
